<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/savetodo/" method="post">
        {% csrf_token %}
        <input type="text" name="todo_text" placeholder="todo text" required/>
        <button type="submit">save</button>
    </form>
    <ul>
        {% for todo_item in todo_items %}
        <li>{{todo_item.text}}</li>
        {% endfor %}
    </ul>
</body>
</html>