{% extends 'contacts/base.html' %}

{% block title %}
Add Contact
{% endblock %}


{% block style %}
<style>
    form{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
    }
</style>
{% endblock %}

{% block content %}
    <form id="contact-fields" class="container" action="{% url 'contacts:save' %}" method="POST">
        {% csrf_token %}
        <label for="first-name">First Name</label>
        <input for="contact-fields" name="first-name" placeholder="First Name" type="text">
        <label for="last-name">Last Name</label>
        <input for="contact-fields" name="last-name" placeholder="Last Name" type="text">
        <label for="email">Email</label>
        <input for="contact-fields" name="email" placeholder="Email" type="text">
        <label for="phone-number">Phone Number</label>
        <input for="contact-fields" name="phone-number" placeholder="Phone Number" type="text">
        <label for="address">Address</label>
        <input for="contact-fields" name="address" placeholder="Address" type="text">
        <input class="btn btn-primary" type="submit" value="Save Contact">
    </form>
{% endblock %}