{% extends 'contactsapp/base.html' %}


{% block content %}
    {% if message == 'not_found' %}
    <div style="color:red">No user was found with that username and password</div>
    {% endif %}
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">login</button>
    </form>
    <div><a href="{% url 'contactsapp:register' %}">register</a></div>
{% endblock %}