<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <!-- Font Awesome 4.7 -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> -->
    <!-- https://fontawesome.com/v4.7.0/ -->
    <!-- Font Awesome 5.15 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <style>
        .low {
            color: blue;
        }

        .medium {
            color: orange;
        }

        .high {
            color: red;
        }

        .completed {
            color: grey;
            text-decoration: line-through;
        }

        .input_row {
            margin-bottom: 20px;
            justify-content: space-evenly;
        }

        .col-8 {
            padding-left: 0 !important;
        }

        .col-2 {
            padding-right: 0 !important;
        }

        .list-move {
            transition: transform 1s;
        }

        .list-enter-active,
        .list-leave-active {
            transition: all 1s;
        }

        .list-enter,
        .list-leave-to

        /* .list-leave-active below version 2.1.8 */
            {
            opacity: 0;
            transform: translateY(30px);
        }



        .todo_row div {
            padding: 10px;
        }

        .header_row div {
            font-weight: bold;
            cursor: pointer;
            user-select: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .header_row div i {
            margin-left: 20px;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <h1>Todo List</h1>
        </div>

        <!-- Create Todo Form -->
        <div class="row input_row">
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Enter a Todo" v-model="input_todo_text" />
            </div>
            <div class="col-2">
                <select class="form-control" v-model="input_priority_id">
                    <option value="" disabled>Select a Priority</option>
                    <option v-for="priority in priorities" v-bind:value="priority.id">[[priority.name]]</option>
                </select>
            </div>
            <div class="col-2">
                <a class="btn btn-primary" v-on:click="addTodo">Add Todo</a>
            </div>
        </div>
        <div class="row">
            <!-- <a class="btn btn-warning" v-on:click="shuffle">Shuffle</a> -->
            <a class="btn btn-primary" v-on:click="clearCompleted">Clear Completed</a>
        </div>



        <!-- Todo Table -->
        <div class="row">
            <div class="container">
                <div class="row header_row">
                    <div v-for="heading in headings" :class="heading.col_class" @click="sortColumn(heading.field)">
                        <span>[[heading.title]]</span>
                        <span v-if="sort_field == heading.field">
                            <i v-if="sort_direction" class="fas fa-chevron-up"></i>
                            <i v-else class="fas fa-chevron-down"></i>
                        </span>
                    </div>
                    <div class="col-2"></div>
                </div>
                <hr />
                <transition-group name="list" tag="span">
                    <div class="row todo_row" v-for="todo in sorted_todos" v-bind:key="todo.id"
                        v-bind:class="{completed: todo.date_completed}">
                        <div class="col-4">[[ todo.text ]]</div>
                        <div class="col-2" v-bind:class="!todo.date_completed? todo.priority.name: ''">[[ todo.priority.name |
                            capitalize ]]</div>
                        <div class="col-2">[[ todo.date_created ]]</div>
                        <div class="col-2">[[ todo.date_completed? todo.date_completed: '-' ]]</div>
                        <div class="col-2">
                            <button type="button" v-if="!todo.date_completed" class="btn btn-primary"
                                data-toggle="modal" data-target="#exampleModal" @click="editTodo(todo)">edit</button>
                            <a v-if="!todo.date_completed" class="btn btn-success"
                                v-on:click="completeTodo(todo.id)">complete</a>
                            <a v-else class="btn btn-danger" v-on:click="deleteTodo(todo.id)">delete</a>
                        </div>
                    </div>
                </transition-group>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Todo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input_edit_todo">Todo</label>
                            <input type="text" class="form-control" id="input_edit_todo" v-model="edit_todo.text">
                        </div>
                        <div class="form-group">
                            <label for="input_edit_priority">Priority</label>
                            <select id="input_edit_priority" class="form-control" v-model="edit_todo.priority">
                                <option v-for="priority in priorities" v-bind:value="priority">[[priority.name]]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Created Date</label>
                            <input type="text" class="form-control" disabled :value="edit_todo.date_created">
                        </div>
                        <div class="form-group">
                            <label>Completed Date</label>
                            <input type="text" class="form-control" disabled :value="edit_todo.date_completed? edit_todo.date_completed: '-'">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="saveEditedTodo">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


        // let people = [{
        //     name: 'joe',
        //     age: 34
        // },{
        //     name: 'jane',
        //     age: 23
        // },{
        //     name: 'jill',
        //     age: 12
        // },{
        //     name: 'ezekiel',
        //     age: 566
        // }]
        // people.sort(function(a, b) {

        //     if (a.age < b.age) {
        //         return -1
        //     } else if (a.age > b.age) {
        //         return 1
        //     } else {
        //         return 0
        //     }
        // })
        // console.log(people)


        // let nums = [5, 2, 8, 9, 1, 9]
        // nums.sort(function(a, b) {
        //     console.log(a, b)
        //     if (a < b) {
        //         return -1
        //     } else if (a > b) {
        //         return 1
        //     } else {
        //         return 0
        //     }
        // })
        // console.log(nums)

        // function shallowCopy(arr) {
        //     let r = []
        //     for (let i=0; i<arr.length; ++i) {
        //         r.push(arr[i])
        //     }
        //     return r
        // }

        // let nums = [1, 2, 3, 4]
        // let nums2 = [...nums]
        // let nums2 = shallowCopy(nums)
        // nums2[0] = 100
        // console.log(nums)
        // console.log(nums2)

        // let people = [{
        //     name: 'joe',
        //     age: 34
        // },{
        //     name: 'jane',
        //     age: 23
        // },{
        //     name: 'jill',
        //     age: 12
        // },{
        //     name: 'ezekiel',
        //     age: 566
        // }]
        // let people2 = shallowCopy(people)
        // people2[0] = {name: 'jack', age: 1}
        // people2[0].name += 'bob'
        // people2[0].age += 1
        // console.log(people)
        // console.log(people2)

        // let x = {age: 20}
        // let y = JSON.parse(JSON.stringify(x))
        // y.age += 1
        // console.log(x)
        // console.log(y)

        // let x = 20
        // let y = x
        // y += 1
        // console.log(x)
        // console.log(y)
        




        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                input_todo_text: '',
                input_priority_id: '',
                edit_todo: {
                    text: '',
                    priority: {},
                    date_created: '',
                    date_completed: ''
                },
                todos: [],
                priorities: [],
                sort_field: null,
                sort_direction: null,
                headings: [{
                    title: 'Todo',
                    field: 'text',
                    col_class: 'col-4'
                }, {
                    title: 'Priority',
                    field: 'priority',
                    col_class: 'col-2'
                }, {
                    title: 'Created',
                    field: 'date_created',
                    col_class: 'col-2'
                }, {
                    title: 'Completed',
                    field: 'date_completed',
                    col_class: 'col-2'
                }]
            },
            methods: {
                addTodo: function () {
                    axios({
                        url: '{% url "main:add_todo" %}',
                        method: 'post',
                        data: {
                            todo_text: this.input_todo_text,
                            priority_id: this.input_priority_id
                        },
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => {
                        console.log(response.data)
                        // this.todos.append({
                        //     text: this.input_todo_text,
                        //     priority: ''
                        // })
                        this.input_todo_text = ''
                        this.input_priority_id = ''
                        this.getTodos()
                    })
                },
                getTodos: function () {
                    axios({
                        url: '{% url "main:todos" %}',
                        method: 'get'
                    }).then(response => {
                        // console.log(response.data)
                        this.todos = response.data.todos
                    })
                },
                completeTodo: function (todo_item_id) {
                    axios({
                        url: '{% url "main:complete_todo" %}',
                        method: 'get',
                        params: {
                            todo_item_id: todo_item_id
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.getTodos()
                    })
                },
                deleteTodo: function (todo_item_id) {
                    axios({
                        url: '{% url "main:delete_todo" %}',
                        method: 'get',
                        params: {
                            todo_item_id: todo_item_id
                        }
                    }).then(response => {
                        console.log(response.data)
                        this.getTodos()
                    })
                },
                shuffle: function () {
                    this.todos = _.shuffle(this.todos)
                },
                clearCompleted: function () {
                    axios({
                        url: '{% url "main:clear_completed" %}',
                        method: 'get'
                    }).then(response => {
                        console.log(response.data)
                        this.getTodos()
                    })
                },
                sortColumn: function (field) {
                    if (this.sort_field == field) {
                        this.sort_direction = !this.sort_direction
                    } else {
                        this.sort_field = field
                        this.sort_direction = true
                    }
                },
                editTodo: function(todo) {
                    // this.edit_todo = JSON.parse(JSON.stringify(todo))
                    this.edit_todo = {...todo}

                    // do not do this because in the modal you'll edit the original todo in the table
                    // this.edit_todo = todo
                },
                saveEditedTodo: function() {
                    axios({
                        url: '{% url "main:save_edited_todo" %}',
                        method: 'post',
                        data: this.edit_todo,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => {
                        this.getTodos()
                        $('#exampleModal').modal('hide')

                        // for (let i=0; i<this.todos.length; ++i) {
                        //     if (this.todos[i].id == this.edit_todo.id) {
                        //         this.todos[i] = this.edit_todo
                        //         break
                        //     }
                        // }

                    })
                }
            },
            computed: {
                sorted_todos: function () {
                    let r = this.todos.slice()
                    if (this.sort_field == 'priority') {
                        r.sort((a, b) => {
                            if (this.sort_direction) {
                                return a.priority.order - b.priority.order
                            } else {
                                return b.priority.order - a.priority.order
                            }
                        })
                    } else {
                        r.sort((a, b) => {
                            if (a[this.sort_field] < b[this.sort_field]) {
                                return (this.sort_direction) ? -1 : 1
                            } else if (a[this.sort_field] > b[this.sort_field]) {
                                return (this.sort_direction) ? 1 : -1
                            } else {
                                return 0
                            }
                        })
                    }
                    return r
                }
            },
            filters: {
                capitalize: function (value) {
                    if (!value) return ''
                    value = value.toString()
                    return value.charAt(0).toUpperCase() + value.slice(1)
                }
            },
            created: function () {
                this.getTodos()
                axios({
                    url: '{% url "main:priorities" %}',
                    method: 'get'
                }).then(response => {
                    this.priorities = response.data.priorities
                })
            }
        })
    </script>
</body>

</html>